# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
src/appStyle.css

# misc
.DS_Store
.env
npm-debug.log
*.log
*.log.*

#vim temp/backup files
*~
*.swp
*.swo
